<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">SakhCuba</a>
      <button (click)="toggle()"></button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Главная</a>
          </li>
          <li class="nav-item"
           [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link text-dark" [routerLink]="['/news']"
              >Новости</a
            >
          </li>
          <li class="nav-item"
           [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link text-dark" [routerLink]="['/rules']"
              >Правила</a
            >
          </li>
          <li class="nav-item"
           [routerLinkActive]="['link-active']"
           [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link text-dark" [routerLink]="['/application']"
              >Анкета</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
   *ngIf="isLogged">
    <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/admin']">Админская</a>
          </li>
          <li class="nav-item"
           [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link text-dark" [routerLink]="['/admin/news']"
              >Админская новостей</a
            >
          </li>
        </ul>
      </div>
  </nav>
</header>
