<section>
    <div>
        <p>
            {{application.nickname}}
        </p>
        <p>
            {{application.discordNickname}}
        </p>
        <p>
            {{application.about}}
        </p>
        <p>
            {{application.date}}
        </p>
        <p>
            {{application.ip}}
        </p>
        <p #decisionParagraph>
            {{application.decision}}
        </p>
        <div ngbDropdown>
            <div ngbDropdownItem class="d-inline-block">
                <button type="button" class="btn btn-outline-primary"
                 id="dropdownBasic1" ngbDropdownToggle #dropdown>{{application.decision}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem (click)="setDecision(2, 'Принят')">Принят</button>
                  <button ngbDropdownItem (click)="setDecision(3, 'Собеседование')">Собеседование</button>
                  <button ngbDropdownItem (click)="setDecision(4, 'Отказ')">Отказ</button>
                </div>
            </div>
        </div>
        
        <button (click)="sendApplication()">Отправить анкету</button>
        <button (click)="deleteApplication()" style="background: red; color:white;">Удалить?</button>

        <h2 *ngIf="ifError">Произошла ошибочка</h2>
        <h2 *ngIf="ifClientError">На твоей стороне, дружок</h2>
    </div>
</section>
